html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "HelveticaNeueLTW1G-Lt"; src: url("../fonts/HelveticaNeueLTW1G-Lt.eot"); src: url("../fonts/HelveticaNeueLTW1G-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTW1G-Lt.woff") format("woff"), url("../fonts/HelveticaNeueLTW1G-Lt.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeueLTW1G-UltLt"; src: url("../fonts/HelveticaNeueLTW1G-UltLt.eot"); src: url("../fonts/HelveticaNeueLTW1G-UltLt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTW1G-UltLt.woff") format("woff"), url("../fonts/HelveticaNeueLTW1G-UltLt.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "entypo"; src: url("../fonts/entypo.eot"); src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "UC-Icons"; src: url("../fonts/UC-Icons.eot"); src: url("../fonts/UC-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/UC-Icons.woff") format("woff"), url("../fonts/UC-Icons.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html { font-size: 62.5%; }

body { font-family: "HelveticaNeueLTW1G-Lt", Arial; font-weight: normal; font-size: 16px; line-height: 1.2; background: #FFF; }

a { color: #0096ff; text-decoration: none; }
a:hover { text-decoration: none; }

@media only screen and (max-width: 991px) { .col-margin-bottom { margin-bottom: 35px; } }

.header { font-size: 0; text-align: right; padding: 21px 0 18px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 991px) { .header { padding: 26px 0; } }
.header .container { position: relative; }

.logo { display: block; float: left; font-size: 0; text-decoration: none; color: #000; text-decoration: none; text-align: left; font-size: 23px; font-size: 2.3rem; }
@media only screen and (max-width: 767px) { .logo { font-size: 17px; font-size: 1.7rem; } }
.logo:hover { color: #000; text-decoration: none; }
.logo:before { content: ""; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 48px 48px 100%; -webkit-background-size: 48px 48px 100%; background-size: 48px 48px 100%; width: 48px; height: 48px; display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 767px) { .logo:before { width: 36px; height: 36px; } }
.logo span { vertical-align: middle; margin-left: 15px; }
.logo.logo_footer { float: none; color: #666; margin-right: 0; font-size: 24px; font-size: 2.4rem; }
@media only screen and (max-width: 1200px) { .logo.logo_footer { font-size: 20px; font-size: 2rem; } }

.menu-btn { background: url("../img/svg/menu.svg") no-repeat 0 0; -moz-background-size: 36px 36px 100%; -webkit-background-size: 36px 36px 100%; background-size: 36px 36px 100%; width: 36px; height: 36px; display: inline-block; vertical-align: middle; cursor: pointer; display: none; position: absolute; top: 0; right: 15px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.menu-btn.is-active { background: url("../img/svg/menu-active.svg") no-repeat 0 0; -moz-background-size: 36px 36px 100%; -webkit-background-size: 36px 36px 100%; background-size: 36px 36px 100%; width: 36px; height: 36px; display: inline-block; }
@media only screen and (max-width: 767px) { .menu-btn { display: inline-block; } }

.nav { display: inline-block; vertical-align: middle; line-height: 48px; color: #0096ff; text-align: left; }
@media only screen and (max-width: 767px) { .nav { display: none; width: 100%; padding: 15px; margin-top: 26px; position: absolute; left: 0; top: 100%; z-index: 10; background: #fff; line-height: 1.2; } }
@media only screen and (min-width: 768px) { .nav { display: inline-block !important; } }

.nav__list { display: inline-block; vertical-align: middle; }
.nav__list li { display: inline-block; vertical-align: top; margin-right: 40px; position: relative; font-size: 18px; font-size: 1.8rem; }
@media only screen and (max-width: 1200px) { .nav__list li { margin-right: 15px; } }
@media only screen and (max-width: 767px) { .nav__list { display: block; }
  .nav__list li { display: block; margin: 0 0 15px; } }

.nav__sub { position: absolute; z-index: 10; top: 100%; left: 0; background: #FFF; padding: 0 20px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }
.nav__sub li { display: block; margin-right: 0; }
@media only screen and (max-width: 767px) { .nav__sub { position: static; background: #D8D8D8; margin: 0 -15px; padding: 0 30px; box-shadow: none; } }

.lang { display: inline-block; vertical-align: middle; margin-right: 40px; font-size: 18px; font-size: 1.8rem; text-transform: uppercase; }
@media only screen and (max-width: 1200px) { .lang { margin-right: 15px; } }
.lang a { color: #666; }
.lang a.is-active { color: #0096ff; }
@media only screen and (max-width: 767px) { .lang { margin-right: 0; } }
.lang:before { content: ""; display: inline-block; margin-right: 10px; position: relative; top: 2px; }
.lang.lang_ru:before { background: url("../img/svg/lang-ru.svg") no-repeat 0 0; -moz-background-size: 26px 18px 100%; -webkit-background-size: 26px 18px 100%; background-size: 26px 18px 100%; width: 26px; height: 18px; display: inline-block; }
.lang.lang_en:before { background: url("../img/svg/lang-en.svg") no-repeat 0 0; -moz-background-size: 26px 18px 100%; -webkit-background-size: 26px 18px 100%; background-size: 26px 18px 100%; width: 26px; height: 18px; display: inline-block; }
.lang.lang_pl:before { background: url("../img/svg/lang-pl.svg") no-repeat 0 0; -moz-background-size: 26px 18px 100%; -webkit-background-size: 26px 18px 100%; background-size: 26px 18px 100%; width: 26px; height: 18px; display: inline-block; }
.lang i { font-size: 27px; font-size: 2.7rem; font-family: "entypo"; font-weight: normal; font-style: normal; line-height: 1; }

@media only screen and (max-width: 767px) { .lang-select { display: none; } }

.lang-list { display: none; }
@media only screen and (max-width: 767px) { .lang-list { display: block; } }

.button { display: inline-block; font-size: 18px; font-size: 1.8rem; background: #00b200; color: #fff; text-align: center; line-height: 34px; padding: 0 30px; border-bottom: 2px solid #009900; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.button:hover { background: #008900; border-color: #005c00; color: #fff; text-decoration: none; }
.button.button_header { min-width: 167px; position: relative; top: 2px; margin-top: 0; }
@media only screen and (max-width: 1200px) { .button.button_header { min-width: 50px; padding: 0 15px; } }
@media only screen and (max-width: 767px) { .button.button_header { display: block; position: static; width: 100%; margin: 20px 0 40px; } }
.button.button_download { min-width: 240px; margin-top: 25px; }

.promo { background: #5F747D url("../img/promo.jpg") 100% 0 no-repeat; min-height: 460px; position: relative; overflow: hidden; -moz-transition: linear 0.2s; -o-transition: linear 0.2s; -webkit-transition: linear 0.2s; transition: linear 0.2s; }
@media only screen and (max-width: 767px) { .promo { background: #5F747D; min-height: 1px; } }

.promo__right { width: 400px; height: 460px; position: absolute; z-index: 1; top: 0; right: 70px; opacity: 1; -moz-transition: linear 0.2s; -o-transition: linear 0.2s; -webkit-transition: linear 0.2s; transition: linear 0.2s; }
@media only screen and (max-width: 991px) { .promo__right { right: 0; } }
@media only screen and (max-width: 767px) { .promo__right { display: none; } }
.promo__right img { display: block; max-width: 100%; }

.promo__title { position: relative; z-index: 2; padding: 125px 0 18px; font-size: 48px; font-size: 4.8rem; color: #FFF; line-height: 1.22; }
@media only screen and (max-width: 991px) { .promo__title { font-size: 40px; font-size: 4rem; } }
@media only screen and (max-width: 767px) { .promo__title { font-size: 32px; font-size: 3.2rem; padding-top: 65px; } }
.promo__title.promo__title_sub { font-family: "HelveticaNeueLTW1G-UltLt", Arial; font-weight: normal; padding-top: 0; font-size: 24px; font-size: 2.4rem; }
@media only screen and (max-width: 991px) { .promo__title.promo__title_sub { font-size: 20px; font-size: 2rem; } }
@media only screen and (max-width: 767px) { .promo__title.promo__title_sub { padding-bottom: 65px; } }

.wrap { padding: 65px 0; }
.wrap.wrap_gray { background: #e8ebec; }
.wrap.wrap_lead { background: #5F747D; }

.title { font-size: 42px; font-size: 4.2rem; margin-bottom: 35px; }
@media only screen and (max-width: 767px) { .title { font-size: 28px; font-size: 2.8rem; } }

.b-text p { font-size: 18px; font-size: 1.8rem; color: #666; }
@media only screen and (max-width: 767px) { .b-text p { font-size: 16px; font-size: 1.6rem; } }
.b-text b { font-weight: normal; color: #000; }

.b-text__title { display: block; font-size: 24px; font-size: 2.4rem; font-weight: normal; margin-bottom: 15px; }
@media only screen and (max-width: 767px) { .b-text__title { font-size: 21px; font-size: 2.1rem; } }

.advantages { padding-bottom: 0; }
@media only screen and (max-width: 767px) { .advantages { padding-bottom: 30px; } }
.advantages .b-text { margin-bottom: 70px; }
@media only screen and (max-width: 767px) { .advantages .b-text { margin-bottom: 35px; } }

.footer { padding: 65px 0; }
.footer .col-md-4 { line-height: 60px; }
@media only screen and (max-width: 991px) { .footer .col-md-4 { line-height: inherit; margin-bottom: 20px; }
  .footer .col-md-4:last-child { margin-bottom: 0; } }
.footer.footer_gray { background-color: #E8EBEC; }

.copy { color: #656565; font-size: 22px; font-size: 2.2rem; }
@media only screen and (max-width: 767px) { .copy { font-size: 16px; font-size: 1.6rem; } }

.footer__email { font-size: 22px; font-size: 2.2rem; }
@media only screen and (max-width: 1200px) { .footer__email { font-size: 20px; font-size: 2rem; } }
@media only screen and (max-width: 767px) { .footer__email { font-size: 16px; font-size: 1.6rem; } }

.footer__tel { display: inline-block; vertical-align: middle; font-size: 0; line-height: 1.4; }
.footer__tel a { color: #666; text-decoration: none; font-size: 22px; font-size: 2.2rem; }
@media only screen and (max-width: 1200px) { .footer__tel a { font-size: 18px; font-size: 1.8rem; } }
@media only screen and (max-width: 767px) { .footer__tel a { font-size: 16px; font-size: 1.6rem; } }
.footer__tel li { display: inline-block; width: 50%; }
@media only screen and (max-width: 991px) { .footer__tel li { display: block; width: 100%; } }

.devices { margin-top: 60px; }

.devices__title { font-size: 42px; font-size: 4.2rem; margin-bottom: 35px; }

.devices__list { font-size: 20px; font-size: 2rem; margin-bottom: 80px; }
@media only screen and (max-width: 767px) { .devices__list { font-size: 18px; font-size: 1.8rem; } }
.devices__list li { margin-bottom: 22px; }
.devices__list a.is-active, .devices__list li.is-active a { color: #000; }
.devices__list ul { list-style-type: none; }

.devices__item { margin-bottom: 80px; }
@media only screen and (max-width: 767px) { .devices__item { margin-bottom: 50px; } }

.devices__item-pic { margin: 0 auto; max-width: 254px; margin-bottom: 30px; }
.devices__item-pic img { max-width: 100%; }
@media only screen and (max-width: 767px) { .devices__item-pic { margin-bottom: 15px; } }

.devices__item-title { font-size: 24px; font-size: 2.4rem; font-weight: normal; }
@media only screen and (max-width: 767px) { .devices__item-title { font-size: 20px; font-size: 2rem; } }

.devices__item-about { font-size: 18px; font-size: 1.8rem; line-height: 1.2; margin: 15px 0; font-weight: normal; }
@media only screen and (max-width: 767px) { .devices__item-about { font-size: 16px; font-size: 1.6rem; } }

.devices__item-price { font-size: 24px; font-size: 2.4rem; color: #000; }
@media only screen and (max-width: 767px) { .devices__item-price { font-size: 20px; font-size: 2rem; } }

.product__title { font-family: "HelveticaNeueLTW1G-UltLt", Arial; font-weight: normal; font-size: 48px; font-size: 4.8rem; color: #FFF; }
.product__title.product__title_margin-top { margin-top: 30px; }
@media only screen and (max-width: 991px) { .product__title.product__title_margin-top { margin-top: 0; } }
@media only screen and (max-width: 767px) { .product__title { font-size: 32px; font-size: 3.2rem; margin-top: 0; } }
.product__title.product__title_sub { margin-top: 30px; font-size: 24px; font-size: 2.4rem; }
@media only screen and (max-width: 767px) { .product__title.product__title_sub { font-size: 20px; font-size: 2rem; } }

.product__price { font-family: "HelveticaNeueLTW1G-UltLt", Arial; font-weight: normal; display: block; font-size: 36px; font-size: 3.6rem; color: #FFF; font-weight: 100; margin-top: 45px; }
@media only screen and (max-width: 767px) { .product__price { font-size: 28px; font-size: 2.8rem; } }

.product__pic { display: block; margin: 0 auto; margin-bottom: -50px; max-width: 100%; }
@media only screen and (max-width: 991px) { .product__pic { margin-top: 45px; } }

.product__about p, .product__spec p { font-size: 18px; font-size: 1.8rem; color: #656565; margin: 30px 0; }
.product__about p:first-child, .product__spec p:first-child { margin-top: 0; }
.product__about p:last-child, .product__spec p:last-child { margin-bottom: 0; }
@media only screen and (max-width: 767px) { .product__about p, .product__spec p { font-size: 16px; font-size: 1.6rem; } }
.product__about li, .product__spec li { font-size: 18px; font-size: 1.8rem; color: #656565; }
@media only screen and (max-width: 767px) { .product__about li, .product__spec li { font-size: 16px; font-size: 1.6rem; } }

.product__about ol, .product__about ul { padding-left: 25px; }

.product__spec .separator { width: 100%; padding: 24px 20px 36px 0; }
.product__spec .separator div { height: 1px; background: #999; }
@media only screen and (max-width: 767px) { .product__spec .separator { margin: 0 0 10px; } }

.title__spec { margin-bottom: 24px; }
@media only screen and (max-width: 767px) { .title__spec { font-size: 28px; font-size: 2.8rem; } }

.product__spec-table { margin-right: 50px; }
@media only screen and (max-width: 1200px) { .product__spec-table { margin-right: 0; } }
.product__spec-table .tr { font-size: 0; clear: left; }
.product__spec-table .td { display: inline-block; vertical-align: top; width: 50%; font-size: 18px; font-size: 1.8rem; line-height: 1.215; color: #000; padding: 16px 20px 16px 0; }
@media only screen and (max-width: 767px) { .product__spec-table .td { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }
.product__spec-table .td:first-child { width: 50%; color: #656565; }
.product__spec-table .td.separator { width: 100%; }
.product__spec-table .td.separator div { height: 1px; background: #999; }
@media only screen and (max-width: 767px) { .product__spec-table .td.separator { margin: 0 0 10px; } }

.download { display: block; margin: 25px 0 0; font-size: 18px; font-size: 1.8rem; line-height: 1.22; }
@media only screen and (max-width: 767px) { .download { font-size: 16px; font-size: 1.6rem; } }
.download span { display: inline-block; vertical-align: middle; }
.download .file { display: inline-block; vertical-align: middle; margin-right: 20px; background: url("../img/svg/file-doc.svg") no-repeat 0 0; -moz-background-size: 30px 38px 100%; -webkit-background-size: 30px 38px 100%; background-size: 30px 38px 100%; width: 30px; height: 38px; display: inline-block; }
.download .file.pdf { background: url("../img/svg/file-pdf.svg") no-repeat 0 0; -moz-background-size: 30px 38px 100%; -webkit-background-size: 30px 38px 100%; background-size: 30px 38px 100%; width: 30px; height: 38px; display: inline-block; }
.download .file.zip { background: url("../img/svg/file-zip.svg") no-repeat 0 0; -moz-background-size: 30px 38px 100%; -webkit-background-size: 30px 38px 100%; background-size: 30px 38px 100%; width: 30px; height: 38px; display: inline-block; }

.downloads .download { margin-top: 0; }

.l { max-width: 1170px; margin: auto; }
